html, body {
  position: relative;
  overflow-x: hidden;
}

.dev-studio {
  padding: 0px, 10px;
  border: 1px solid grey;
}

.logo {
  width: 70%;
}

.upper-nav {
  background-color: white;
}

.lower-nav {
  background-color: #17255a;
  padding: 50px;
  
}

.navbar.upper-nav {
  padding: 30px 20px;
}

.third-nav {
  background-color: #eac435;
  padding: 30px 40px;
}

.third-nav h4 {
  font-weight: 900;
  font-size: 35px;
}

.hero h1 {
  font-weight: 900;
  font-size: 67px;
  letter-spacing: 0.15 px;
  line-height: 80px;
}

.video {
  width: 100%;
}

.product-images {
  position: relative;
}

.product {
  position: absolute;
  right: 0px;
  top: -60px;
  width: 50%;
}

.dev {
  position: absolute;
  right: 210px;
  width: 50%;
  top: -60px;
}

.photo {
    width: 70%; 
}

.learning, .eligible, .culture, .fun, .experts, .classroom, .footer, .software, .painter, .apply, .book {
    width: 100%;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}

.copyright{
  display: flex;
  justify-content: center;
}

.copyright h6 {
  font-size: 10px;
}

.fab {
  padding: 8px;
  font-size: 20px;
}

.curriculum, .design {
    width: 70%;

}

.design-container {
    background-color: #EEEEEE;
    padding: 50px 0px;
}

.padding {
    padding: 100px 0px;
}

.culture-container {
    background-color: #F5772F;
    color: white;
}

.knowledge-container {
    background-color: #17255a;
    color: white;
    padding: 100px 0px;
}

.journal {
  width: 100%;
  margin-bottom: 20px;
}


 .input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background:transparent;
}

.footer-container {
  margin-top: 50px;
  background-color: #eac435;
  padding: 50px 20px; 
}

a {
  color: black;
}

.software-header {
  font-weight: 900;
  font-size: 77px;
  letter-spacing: 0.30 px;
  line-height: 80px;
}

.count-on {
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 0.19 px;
  line-height: 61px;
  color: #03CEA4;
}

.faq {
  margin: 0 auto;
  width: 50%;
}


.faq-flex {
  display: flex;
  justify-content: space-between;
}

.padding-footer {
  padding: 20px 0px 0px 0px;
}

.navbar-toggler-btn {
  width: 100%;
  float: none;
  margin-right: 0;
}



@media(max-width: 767px){
    .product {
        position: absolute;
        right: 0px;
        top: -60px;
        width: 50%;
    }
      
    .dev {
        position: absolute;
        right: 100px;
        width: 50%;
        top: -60px;
    }

    .faq {
      margin: 0 auto;
      width: 80%;
    }
}